body{
margin: 0;
}
/*bandeau du dessus*/
    #header{
    width: 100%;
    height:12vh;
    display: flex;
    overflow: hidden;
    min-height: 72px;
    }


    .enfant{
      flex: 1;
    }

    #gauche{
      padding: 4%;
      clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
      background-color:#00aae3;
    }

    #droite{
      padding: 4%;
      clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%);
      background-color:#1f2B54;
    }

#image{
  align-items: center;
display: flex;
}

#image img{
  width:25vw;
  height: auto;
    pointer-events: none;
    margin: 0 auto;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  cursor: pointer;
}

/*bandeau du dessus*/

/*grid*/

#parent{
  height: 88vh;
  width:100%;
}

.dhx_demo-grid{
  border: 1px solid #e4e4e4;
}

.dhx_demo-grid:hover{
  border: 1px solid #00d4ff;
}

.dhx_string-cell{
  cursor:pointer;
}

.dhx_string-cell:hover{
  background: #ededed;
}

.btnchart{
  min-width: 15vw;
  min-height: 3vh;
  max-width: 15vw;
  max-height: 3vh;
}

/*grid*/
