@media screen and (orientation: landscape) {
svg{
width: 90vw;
height: 90vh;
}
p{
display:none;
}
}

@media screen and (orientation: portrait) {
svg{
width: 300vw;
height: 300vh;
margin-top: -115vh;
}
p{
    font-size: 3vh;
    color: #8b0000;
    font-weight: bold;
}

}
