
body
{
	margin: 0;
}

header a, footer a
{
	text-decoration: none;
	/*Modif 09/05*/
	color: #02b5ce;
}

header a:hover
{
	color: #5bcedb;
	/*Modif 09/05*/
}

/*PARAMETRES DU HEADER*/
/*Modif 09/05*/
*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.7143;
}

.site-slogan
{
	color:#818c98;
}

.t3-header
{
	padding-top: 4vh;
	padding-bottom: 4vh;
}

.container
{
	margin-right: auto;
	margin-left: auto;
	padding-left: 12px;
	padding-right: 12px;
}


.logo-text .site-slogan
{
	display: block;
	font-size: 14px;
	margin-top: 5px;
}

.logo a
{
	line-height: 1;
}

.logo-text a
{
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	color: #02b5ce;
}

.logo-text a:hover
{
	/*Modif 09/05*/
	color: #5bcedb;
}

/*PARAMETRES DU HEADER*/
/*Modif 09/05*/
/*grid*/
#parent
{
	height: 88vh;
	width:100%;
}

.dhx_demo-grid
{
	border: 1px solid #e4e4e4;
}

.dhx_demo-grid:hover
{
	border: 1px solid #02b5ce;
}

.dhx_grid-header-cell-text:hover{
  color: #02b5ce;
}

.dhx_string-cell
{
	cursor:pointer;
}

.dhx_string-cell:hover
{
	background: #ededed;
}

.btnchart
{
	min-width: 15vw;
	min-height: 3vh;
	max-width: 15vw;
	max-height: 3vh;
}

/*grid*/
/*PARAMETRES DU FOOTER*/
/*Modif 09/05*/
.t3-footer
{
	background: #23263d;
	color: rgba(255, 255, 255, 0.6);
  padding: 4vh 0;
  margin-top: 5vh;
}

.t3-copyright
{
	font-size: 12px;
}

/*PARAMETRES DU FOOTER*/


/*grid*/
#parent
{
	height: 88vh;
	width:100%;
}

.dhx_demo-grid
{
	border: 1px solid #e4e4e4;
}

.dhx_demo-grid:hover
{
	border: 1px solid #00d4ff;
}

.dhx_string-cell
{
	cursor:pointer;
}

.dhx_grid-cell div
{
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dhx_string-cell:hover
{
	background: #ededed;
}

.dhx_grid-comcell
{
	width: 50px;
	height: 100%;
	display: block;
}

.popup-cover{
	width: 100vw;
	height: 100vh;
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
}

.btnchart
{
	min-width: 15vw;
	min-height: 3vh;
	max-width: 15vw;
	max-height: 3vh;
}

#layout, #chart
{
	display: block;
	width: 100vw;
}

.listelogo
{
	display: flex;
	padding-left: 12px;
	padding-right: 12px;
}

.listelogo li
{
	list-style: none;
}

#logos{
  display:flex;
  margin-top: -10vh;
  margin-left: 40vw;
}

@media (min-width: 1200px)
{
	.container
	{
		width: 1164px;
	}

}

@media screen and (min-width: 420px) and (max-width: 1100px)
{
	/*version tablette paysage*/
	/*Modif 09/05*/
	body
	{
		margin: 0;
	}

}

@media screen and (min-width: 650px) and (max-width: 960px)
{
  #logos{
    display:flex;
    margin-top: 0;
    margin-left: 10vw;
  }
}
@media screen and (min-width: 420px) and (max-width: 650px)
{
  #logos{
    display:block;
    margin-left: 0;
    margin-top: 0;
  }
}

/*FORM POUR PLUSIEURS LIGNES*/

#form {
	position: fixed;
	background-color: #C4C4C4;
	left:45%;
	top:5%;
	display:none;
	min-width: 300px;
	min-height: 100px;
	width: 18vw;
height: 11vh;
border: 1px solid black;
border-radius: 20px;
text-align: center;
padding: 1vh 0;
z-index: 500;
}
#form label{
text-align: center;
}

#form input{
margin: 0;
height: 10%;

}
#croix{
cursor: pointer;
width: 10%;
margin: 0 87%;

}

/*FORM POUR PLUSIEURS LIGNES*/

.dhx_638523928_message.dhx_message.dhx_widget{
	display: none;
}

/*FORM DE LOGIN*/
#inscription, #connexion{
    position: relative;
    margin-top: 10rem;
    margin-bottom: 5rem;
    text-align: center;
    border: 1px solid #9c9c9c;
    border-radius: 25px;
    width: 367px;
    padding: 17px;
    background: #90B5E1;
}
#inscription .field, #connexion .field{
    margin-bottom: -1rem;
    padding: 2rem;
}
#inscription .field input:focus, #connexion .field input:focus{
    border: 1.5px solid #1f52f9;
}

#inscription .field input, #connexion .field input{
    outline: none;
    height: 40px;
    border-radius: 40px;
    border: none;
    padding: 10px;
    width: 250px;

}
#inscription .field input, #connexion .field input{
    outline: none;
    height: 40px;
    border-radius: 40px;
    border: none;
    padding: 10px;
    width: 250px;
}

#inscription label, #connexion label{
    right:5rem;
    position: relative;
    font-family:Rubik;
    color: #555;
    opacity: 0.6;
    font-size: 15px;
    pointer-events: none;
    top: -28px;
    transition: .2s all;
}*

#inscription input:focus ~label, #connexion input:focus ~label,
#inscription input:valid ~label, #connexion input:valid ~ label{
  top: -49px;
  left: -5.5rem;
  opacity: 100%;
  background: #fff;
  padding: 0 5px;
  font-size: 10px;
  color: #1f52f9;
}
#inscription .iconeye, #connexion .iconeye{
    width: 10%;
}
#inscription .iconeye img, #connexion .iconeye img{
    width: 100%;
}
#inscription input[type="submit"], #connexion input[type="submit"]{
    text-align: center;
    align-items: center;
    background:  #4971f6;
    color: #fff;
    border: none;
    padding:10px 30px;
    border-radius: 20px;
    margin:  40px 0 0px 180px;
    cursor: pointer;
    font-size: 15px;
}

#inscription input:focus, #connexion input:focus {
    border: 1.5px solid #1f52f9;
}
#inscription input, #connexion input {
    outline: none;
    height: 40px;
    border-radius: 40px;
    border: none;
    padding: 10px;
    width: 250px;
}

#accueil-nav, #saisie-nav, #liste-nav, #compte-nav{
	background:#23263d;
	border: 1px solid #171928;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr ;
}

#accueil-nav a, #saisie-nav a, #liste-nav a, #compte-nav a{
		text-decoration: none;
		color:white;
}

#accueil-nav li, #saisie-nav li, #liste-nav li, #compte-nav li{
	list-style: none;
}


#btn_accueil{
	background: #02B5CE;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	padding: 6px;
	display: block;
	width: 78px;
}

#btn_connect{
	background: #02B5CE;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	padding: 6px;
	display: block;
	width: 123px;
}

#btn_accueil:hover, #btn_connect:hover
{
	background: #5bcedb;
}

.btn_nav {
	padding: 6px;
	width: 213px;
}

nav #liste {
	border-left: 1px solid white;
	padding-left: 60px;
}

nav #divAccueil{
	align-items: center;
	display: flex;
}

nav #divNormale{
	display: flex;
	margin: auto;
}

nav #divConnect{
	display: flex;
 	margin: auto;
}

#Sactive{
	width: 140px;
	padding: 6px;
	border-radius: 3px;
}

#Lactive{
	width: 157px;
	padding: 6px;
	border-radius: 3px;
}

#accueil-nav #Lactive:hover,
#accueil-nav #Sactive:hover,
#saisie-nav #Lactive:hover,
#saisie-nav #Sactive:hover,
#liste-nav #Sactive:hover,
#liste-nav #Lactive:hover,
#compte-nav #Sactive:hover,
#compte-nav #Lactive:hover{
	background: #a1a1a1;
}

#saisie-nav #Sactive, #liste-nav #Lactive{
	padding: 6px;
	background: #818c98;
}

#saisie-nav #Lactive, #liste-nav #Sactive{
	padding: 6px;
	background: #23263d;
}

/*-----------------------------------Accueil-------------------------------*/

#accueil{
			width: 80%;
		margin: auto;
	}

#toc{
	width: 20vw;
	border: 1px solid black;
	margin: 1vh 10vw;
	padding:20px;
	background:#818c98;
}

#toc a{
	text-decoration: none;
	color: black;
}
#toc a:hover{
		color: white;
		text-decoration: underline;
		font-weight: bold;
}
#toc li{
	list-style:inside;
}
#toc ol{
	margin: 0;
}
#toc #sommaire{
	margin: 0px 0 10px 0;
}

.imgTuto {
	width: 45vw;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#bienvenue{
	margin: 50px 0;
}

#bienvenue h1{
	text-align: center;
}

#contents figcaption{
	margin: 20px auto;
}

#contents img:hover{
	box-shadow: 0 0 20px grey; 
}
